$red:#F8107D;
$gray_color:#EFE9F8;
$black_text:#0f0f0f;
$black-text-player:#383838;
$white:#ffffff;
$gray-main-color:#bfbfbf;
$music-page-white:#DBDBDB;
$open-sans-bold:OpenSans-Bold;
$open-sans-extra-bold:OpenSans-ExtraBold;
$open-sans-light:OpenSans-Light;
$open-sans-regular:OpenSans-Regular;
$open-sans-semi-bold:OpenSans-SemiBold;
$philosopher-bold:Philosopher-Bold;
$philosopher-regular:Philosopher-Regular;
$small-device:500px;
$xxs:320px;
$xls:600px;
$xlsh:500px;
$xms:375px;
$md:780px;
$lg:1024px;
$xlg:1440px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider:(4/3);
$xd-width:1920;
$xd-height:1080;
$width-of-container:(85px/$divider);

